* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-300 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/montserrat-v23-latin_cyrillic-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v23-latin_cyrillic-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/montserrat-v23-latin_cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v23-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Montserrat';
}

ul {
    list-style: none;
    font-family: 'Roboto';

}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header__tooltip {
    background-color: #FF8642;
    padding: 14px;

}

.header__tooltip-box {
    position: relative;
}

.header__tooltip-box {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-align: center;
}

.header__tooltip-box-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 10px 0;
    transition: transform .8s ease-in;
    background-image: url('./images/icons/close.svg');
}

.header__tooltip-box-btn:hover {
    transform: rotate(90deg);
}

/* Header */

.header {
    background-color: #F2F3F5;
}

.header__box {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.header-time {
    display: flex;
}

.icon {
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.header-time__time {
    background-image: url('./images/icons/time-clock.svg');
}

.header-time__desc {
    margin-left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1B1C21;
}

/* Header-Nav */
.nav__list {
    display: flex;
}

.nav__list-item {
    margin-right: 15px;
    position: relative;
}

.nav__list-item:last-child {
    margin-right: 0;
}

.nav__list-item_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #505567;
    text-decoration: none;
    transition: color .3s ease-in;
}

.nav__lists_type_nested {
    display: flex;
    cursor: pointer;
}

.nav__list-item_path {
    background-image: url('./images/icons/Path.svg');
    width: 10px;
    height: 10px;
    align-self: center;
    margin-left: 5px;
}

.nav__list-item_link:hover {
    color: #0093A2;
}

.nav__lists-sub-list {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #F2F3F5;
    box-shadow: 0px 10px 30px rgba(34, 42, 70, 0.1);
    border-radius: 10px;
}

.nav__lists-sub-list {
    opacity: 0;
    transition: opacity .3s ease-out;
}

.nav__lists_type_nested:hover .nav__lists-sub-list {
    opacity: 1;
}


.sub-list__items {
    margin: 5px 0;
}

.sub-list__items-link {
    text-decoration: none;
    color: #505567;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    transition: color .3s ease-in;
}

.sub-list__items-link:hover {
    color: #0093A2;
}

/* Header-Order */
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__social {
    display: flex;
    margin-right: 33px;
}

.header__social-vk {
    background-image: url('./images/icons/vk.svg');
    width: 24px;
    margin-right: 15px;
}

.header__social-inst {
    background-image: url('./images/icons/inst.svg');
}

.header-wrapper__item {
    display: flex;
}

.header-wrapper__item-client {
    background-image: url('./images/icons/user-single.svg');
}

.header-wrapper__item-title {
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #505567;
}